
/* about_us */

.about {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 650;
	font-size: 64px;
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.about2 {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	font-size: 54px;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.benefits {
	margin: 10px 10px 0px 10px;
	width: 400px;
	height: 450px;
	left: 350px;
	top: 700px;
	margin-bottom: 20px;
	background: #FFFFFF;
	box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.benefits_container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0 auto;
	align-content: center;
	width: 95%;
}

.benefits_text {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.procent {
	margin-top: 60px;
	display: flex;
	justify-content: center;
}

/* about_as end */
